<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="DEFAULT_PATTERN" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/production.log</file>
        <append>true</append>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-SQL" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/hibernate-sql.log</file>
        <append>true</append>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.senla.training.yeutukhovich.bookstore" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
        <!--        <appender-ref ref="STDOUT"/>-->
    </logger>

    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="FILE-SQL"/>
        <!--        <appender-ref ref="STDOUT"/>-->
    </logger>

    <root level="error">
        <appender-ref ref="FILE"/>
        <!--        <appender-ref ref="STDOUT"/>-->
    </root>
</configuration>